.navbar-content {}
.navbar-content .container-fluid {}
.navbar-content .container-fluid .row {
    padding: 8px 10%;
}
.navbar-nav {
    display: contents;
}
.navbar-brand {
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    color: black !important;
    letter-spacing: 0.3px;
    font-weight: 700;
    font-size: 22px;
}
.navbar-brand i {
    color: #ff2e63 !important;
    font-size: 6px;
    margin-left: 7px;
}
.navbar-nav {}
.navbar-nav li {
    margin: 0 8px;
}
.navbar-nav li a {
    font-family: "Roboto Mono", monospace;
    color: black !important;
}
.nav-link:hover {
    color: #ff2e63 !important;
}
.dropdown {}
.dropdown a {
    text-decoration: none;
    cursor: pointer;
}
.dropdown a:hover {
    color: #ff2e63 !important;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.555em;
    margin-bottom: -2px;
    font-size: 15px;
}
.dropdown-menu {
    display: none;
    min-width: 7rem;
    padding: 13px 0;
    border: none;
    box-shadow: 1px 1px 5px 1px #80808021;
    margin-top: 10px;
    margin-left: -10px;
    border-radius: 5px;
    z-index: 100;
}
.dropdown-menu a {
    padding: 0.399rem 1.5rem;
}
.dropdown-item {}
.dropdown-item:hover {
    background: none !important;
}